<nav class="nav">
    <p class="heading"><img src="https://img.icons8.com/?size=64&id=nuxAjGQIwQDh&format=png">BlogVista</p>
    <div class="all-links">
        <a  class="links" href="/">Blogs</a>
         <a class="links" href="/about">About Us</a>
         <a class="links" href="/blogs/create">New Blogs</a>
         
    </div>
    
 </nav>