<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <%- include('./partials/nav.ejs')  %>
    <div class="content">
    <div class="about">
    <h3 class="head">About Me</h3>
    <p class="snippet">Greetings,</p>
    <p class="snippet">I'm Himanshi, the face behind the scenes of this little digital abode. Welcome to my cozy corner of the web!</p>
    <h3 class="head">A Solo Venture</h3>
    <p class="snippet">This venture is a one-person show, a labor of love that I've nurtured from the ground up. I wear many hats here – writer, coder, designer – you name it. It's a personal journey that started as a spark of an idea and evolved into a space I'm excited to share with you.</p>
    <h3 class="head">The Origin Story</h3>
    <p class="snippet">Picture me, coffee in hand, typing away in the late hours of the night. This project began as a simple desire to create something meaningful. I wanted a place where I could pour out my thoughts, share experiences, and connect with like-minded souls.</p>
    <h3 class="head">What You'll Find</h3>
    <p class="snippet">Expect a blend of musings, anecdotes, and perhaps a sprinkle of my quirky sense of humor. It's not a polished publication; it's a raw and authentic collection of my thoughts. Life, lessons, and everything in between – that's what you'll find here.</p>
    <h3 class="head">My Writing Philosophy</h3>
    <p class="snippet">I'm not a wordsmith by trade; I'm just a person who believes in the power of storytelling. Each post is a snapshot of my journey, a reflection of my evolving thoughts. I write not to impress but to express, and I hope you find something here that resonates with you.</p>
    <h3 class="head">Join the Conversation</h3>
    <p class="snippet">This isn't just a blog; it's a shared space. Your thoughts matter. Whether you're here to read, comment, or simply lurk in the background – you're a valued part of this digital tapestry.
    </p>
    <h3 class="head">Let's Get Social</h3>
    <p class="snippet">Connect with me beyond the blog! You can find me on [Social Media Handles]. Let's turn this one-way street into a two-way conversation.</p>
    <p class="snippet">Thanks for stepping into my little online world. Here's to the adventures ahead!</p>
</div>
</div>
</body>
</html>